body {
  margin: 0px;
}
.header {
    padding: 10px;
    text-align: center;
    color: #555;
  }
  .header-subtitle {
    font-size: 13px;
  }
  .header-login {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    background: rgba(165, 205, 228);
    font-weight: bold;
  }
  .header-logout {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    background: rgb(228, 165, 165);
    font-weight: bold;
  }
  .content {
    margin: 0 auto;
    max-width: 600px;
  }
  .content-login {
    text-align: center;
  }
  .content-login a{
    color: #333;
  }
  .icon-auth0 {
    text-align: center;
  }
  .icon-auth0 img {
    width: 120px;
    padding: 10px;
  }
  .footer {
    margin-top: 50px;
    padding: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 80%;
  }
  .memo-box {
    margin-top: 20px;
    padding: 20px;
    background: #eee;
    border-radius: 10px;
  }
  .memo-list {
    padding: 5px;
    text-align: left;
  }
  